@import 'tailwindcss';
@import 'pretendard/dist/web/variable/pretendardvariable.css';

/* @theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
} */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-1: #efeff4;
  --color-2: #d7d7dc;
  --color-3: #bdbdc2;
  --color-4: #a3a3a8;
  --color-5: #8f8f94;
  --color-6: #7b7b80;
  --color-7: #747479;
  --color-8: #69696e;
  --color-9: #5f5f64;
  --color-10: #4e4e53;
  --main-color: #250996;
  --main-hover-color: #3416ae;
  --red-color: #f55454;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Pretendard', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb; /* Tailwind의 bg-background */
  color: #111827; /* Tailwind의 text */
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}
